.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.688;
  text-align: center;
  padding: 11px 40px;
  color: var(--main-text-color);
  background-color: var(--acent-color);
  border: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--acent-color);
    background-color: var(--main-text-color);
    border: 1px solid var(--acent-color);
  }
}
