.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.688;
  text-align: center;
  padding: 11px 40px;
  color: var(--main-text-color);
  background-color: var(--acent-color);
  border: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--acent-color);
    background-color: var(--main-text-color);
    border: 1px solid var(--acent-color);
  }

  &:disabled {
    color: #5C5C5C;
    background-color: #A3A3A3;
    box-shadow: 0px 0px 2px 4px rgba(163, 163, 163, 0.3);
    cursor: not-allowed;
  }
}
