.title {
  font-family: var(--title-font);
  line-height: 1.333;
  font-size: 24px;

  @include for-phone-up {
    font-size: 36px;  
  }

  color: var(--acent-color);
}



.section__title {
  margin-bottom: 40px;
}