:root {
  --main-text-color: #ffffff;
  --acent-color: #D4C17F;
  --background-color-primary: #242B33;
  --background-color-header: rgba(36, 43, 51, 0.96);
  --table-bg-color: rgba(255, 255, 255, 0.1);
  --footer-bg-color: #2D343C;
  --cta-bg-color: #C4C4C4;

  --main-font: 'Raleway', sans-serif;
  --features-font: 'Roboto', sans-serif;
  --title-font: 'Playfair Display', serif;

  --flats-gap: 15px;

}