:root {
  --main-text-color: #ffffff;
  --acent-color: #D4C17F;
  --background-color-primary: #242B33;
  --background-color-header: rgba(36, 43, 51, 0.96);
  --backdrop-color: rgba(36, 43, 51, 0.9);
  --table-bg-color: rgba(255, 255, 255, 0.1);
  --footer-bg-color: #2D343C;
  --cta-bg-color: #C4C4C4;
  --form-label-color: #e7e7e7;
  --input-bg-color: #565B60;
  --input-plaseholder-color: #bebebe;
  --color-warning: #FF6C6C;

  --main-font: 'Raleway', sans-serif;
  --features-font: 'Roboto', sans-serif;
  --title-font: 'Playfair Display', serif;

  --flats-gap: 15px;

}