.callback-inner {
  display: flex;
  justify-content: space-between;
}



.callback-section__text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 255px;
  height: 50px;
  font-size: 13px;
  line-height: 1.23;
}