.price-table {
  width: 100%;
  
  font-size: 16px;
  line-height: 1.167;
  text-align: left;

  @media screen and (min-width: 540px) {
      font-size: 24px;
  }
  
  border-collapse: collapse;

  // overflow-x: auto;
  // display: block;



  &__caption {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  &__head {
    font-weight: 700;
    background-color: var(--table-bg-color);
  }

  th,
  td {
    padding: 8px 16px;
    border: 1px solid var(--main-text-color);
  }
}

